@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #0C0C0C;
    overflow-x: hidden;
  }
}

@layer utilities {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
